// main: ../main.scss
/*--------------------------------------------------------------
# About 3 Section
--------------------------------------------------------------*/
.about-3 {
  .inner-title {
    font-size: 2.75rem;
    font-weight: 700;
    margin: 30px 0;

    @media (min-width: 991px) {
      max-width: 65%;
      margin: 0 0 80px 0;
    }
  }

  .our-story {
    padding: 40px;
    background-color: color-mix(in srgb, var(--default-color), transparent 96%);

    @media (min-width: 991px) {
      padding-right: 35%;
    }

    h4 {
      text-transform: uppercase;
      font-size: 1.1rem;
      color: color-mix(in srgb, var(--default-color), transparent 50%);
    }

    h3 {
      font-size: 2.25rem;
      font-weight: 700;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 15px;

    li {
      padding: 5px 0;
      display: flex;
      align-items: center;
    }

    i {
      font-size: 1.25rem;
      margin-right: 0.5rem;
      line-height: 1.2;
      color: var(--accent-color);
    }
  }

  .watch-video {
    i {
      font-size: 2rem;
      transition: 0.3s;
      color: var(--accent-color);
    }

    a {
      font-weight: 600;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      margin-left: 8px;
      transition: 0.3s;
    }

    &:hover {
      a {
        color: var(--accent-color);
      }
    }
  }

  .about-img {
    min-height: 400px;
    position: relative;

    @media (min-width: 992px) {
      position: absolute;
      top: 0;
      right: 0;
      min-height: 600px;
    }

    img {
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }
}