// main: ../main.scss
/*--------------------------------------------------------------
# Partners Section
--------------------------------------------------------------*/
.partners {
  .swiper {
    padding: 10px 0;
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    img {
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}