// main: ../main.scss
/*--------------------------------------------------------------
# Skinaptiks Short Section
--------------------------------------------------------------*/
.skinaptiks_short {
  .features-item {
    color: color-mix(in srgb, var(--default-color), transparent 20%);

    &+.features-item {
      margin-top: 100px;

      @media (max-width: 640px) {
        margin-top: 40px;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 26px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-bottom: 10px;
        display: flex;
        align-items: center;

        &:last-child {
          padding-bottom: 0;
        }
      }

      i {
        font-size: 20px;
        padding-right: 4px;
        color: var(--accent-color);
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .btn-get-started {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: var(--default-color);
    animation: fadeInUp 1s both 0.4s;
    border: 2px solid var(--accent-color);

    &:hover {
      background: var(--accent-color);
      color: var(--contrast-color);
      text-decoration: none;
    }
  }
}